apiVersion: projectcalico.org/v3
kind: CalicoAPIConfig
metadata:
spec:
  datastoreType: "etcdv3"
  etcdEndpoints: {{ etcd_endpoints }}
  etcdKeyFile: /etc/calico/ssl/server-key.pem
  etcdCertFile: /etc/calico/ssl/server.pem
  etcdCACertFile: /etc/calico/ssl/ca.pem